.navbar {
  top: 0;
  z-index: 0;
  position: -webkit-sticky;
  position: sticky;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #3ac4f2;
  background-color: #3ac4f2;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: blue;
}

li a.active {
  color: white;
  background-color: #4caf50;
}
